/* custom.css */
body {
    margin-top: 100px;
    background-color: #222;
}

@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */
.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: rgb(125, 204, 86);
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #000;
}

/* Side Navigation */
@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

/* Angular UI Bootstrap settings */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Container */
.container-fluid {
    /* for using fadeIn() effect */
    display: none;
    min-height: 700px;
}

/* Images */
.thumbnail > img {
    height: 90px;
}

/* disable button outline when clicked */
.btn:focus {
    outline: none;
}

/* Fix margin */
.btn-block + .btn-block {
    margin-top: 0;
}

/* Table */
.table-responsive {
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

.refresh-table {
    margin-left: 10px;
}

/* panel body */
.panel-min-height {
    min-height: 545px;
}

/* Loading bar on the top */
#loading-bar .bar {
    background: #00AC34;
    height: 5px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #00AC34;
    border-left-color: #00AC34;
}

#loading-bar .peg {
    -moz-box-shadow: #00AC34 1px 0 6px 1px;
    -ms-box-shadow: #00AC34 1px 0 6px 1px;
    -webkit-box-shadow: #00AC34 1px 0 6px 1px;
    box-shadow: #00AC34 1px 0 6px 1px;
    height: 5px;
}

.loading-spinner {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#loading-bar-spinner {
    top: 15px;
    left: 10px;
}

#loading-bar-spinner .spinner-icon {
    width: 30px;
    height: 30px;
}

/* 404 page */
.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

/* ngAnimate for ng-show pr ng-hide */
.ng-fade {
    transition: 0.5s linear all;
    opacity: 1;
}
.ng-fade.ng-hide {
    opacity: 0;
}

/* Loading circle */
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-line-scale,
.la-line-scale > div {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-line-scale {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-line-scale.la-dark {
    color: #333;
}

.la-line-scale > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-line-scale {
    width: 40px;
    height: 32px;
}

.la-line-scale > div {
    width: 4px;
    height: 32px;
    margin: 0 2px;
    border-radius: 0;
    -webkit-animation: line-scale 1.2s infinite ease;
    -moz-animation: line-scale 1.2s infinite ease;
    -o-animation: line-scale 1.2s infinite ease;
    animation: line-scale 1.2s infinite ease;
}

.la-line-scale > div:nth-child(1) {
    -webkit-animation-delay: -1.2s;
    -moz-animation-delay: -1.2s;
    -o-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.la-line-scale > div:nth-child(2) {
    -webkit-animation-delay: -1.1s;
    -moz-animation-delay: -1.1s;
    -o-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.la-line-scale > div:nth-child(3) {
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    -o-animation-delay: -1s;
    animation-delay: -1s;
}

.la-line-scale > div:nth-child(4) {
    -webkit-animation-delay: -.9s;
    -moz-animation-delay: -.9s;
    -o-animation-delay: -.9s;
    animation-delay: -.9s;
}

.la-line-scale > div:nth-child(5) {
    -webkit-animation-delay: -.8s;
    -moz-animation-delay: -.8s;
    -o-animation-delay: -.8s;
    animation-delay: -.8s;
}

.la-line-scale.la-sm {
    width: 20px;
    height: 16px;
}

.la-line-scale.la-sm > div {
    width: 2px;
    height: 16px;
    margin: 0 1px;
}

.la-line-scale.la-2x {
    width: 80px;
    height: 64px;
}

.la-line-scale.la-2x > div {
    width: 8px;
    height: 64px;
    margin: 0 4px;
}

.la-line-scale.la-3x {
    width: 120px;
    height: 96px;
}

.la-line-scale.la-3x > div {
    width: 12px;
    height: 96px;
    margin: 0 6px;
}

/*
 * Animation
 */
@-webkit-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
        transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-moz-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
        -moz-transform: scaleY(.4);
        transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-o-keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
        -o-transform: scaleY(.4);
        transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes line-scale {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(.4);
        -moz-transform: scaleY(.4);
        -o-transform: scaleY(.4);
        transform: scaleY(.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }
}